<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Edit Job</h3>
    <%= render "_form.html", changeset: @changeset,
                            action: project_path(@conn, :update, @project),
                            categories: @categories,
                            btn: "Update" %>
  </div>
</div>
