<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Post a Job</h3>
    <%= render "_form.html", changeset: @changeset,
                            action: project_path(@conn, :create),
                            categories: @categories,
                            btn: "Publish" %>
  </div>
</div>
